.container {
  @include flex-center-column;
  height: 100vh;
  flex-wrap: wrap;

  > * {
    width: 100vw;
  }
  .header,
  .footer {
    @include flex-center;
  }
}

.content {
  flex: auto;
  
  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    > * {
      background-color: rgb(102, 97, 170);
    }
  }
}
